// Styles that are applied globally (fonts, theming, bootstrap settings)

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

$font-family-base: "Roboto";
$headings-font-family: "PT Sans";
$display-font-weight: 800;

$secondary: #0b233f;
$primary: #00b2e2;
$dark: $secondary;

$enable-shadows: true;

$btn-font-size-lg: 1.5rem;
$btn-font-family: "PT Sans";
$btn-font-weight: 700;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "../node_modules/react-toastify/scss/main.scss";

@import "../node_modules/react-bootstrap-typeahead/css/Typeahead.scss";
@import "../node_modules/react-bootstrap-typeahead/css/Typeahead.bs5.scss";

/** https://codepen.io/nisharg/pen/gOPLOYY **/
@mixin switch($res: "sm") {
  $index: 1rem;
  $mainVal: 1rem;

  @if $res == "md" {
    $index: 2rem;
    $mainVal: 1.5rem;
  } @else if $res == "lg" {
    $index: 3rem;
    $mainVal: 2rem;
  } @else if $res == "xl" {
    $index: 4rem;
    $mainVal: 2.5rem;
  }

  margin-bottom: calc($index / 2); /* JUST FOR STYLING PURPOSE */

  .form-check-input {
    height: $mainVal;
    width: calc(#{$index} + 0.75rem);
    border-radius: $mainVal * 2;
  }
}

.form-check-input {
  clear: left;
}

// YOU CAN PUT ALL RESOLUTION HERE
// sm - DEFAULT, md, lg, xl

.form-switch.form-switch-sm {
  @include switch();
}

.form-switch.form-switch-md {
  @include switch("md");
}

.form-switch.form-switch-lg {
  @include switch("lg");
}

.form-switch.form-switch-xl {
  @include switch("xl");
}

.react-flow__attribution {
  // display: none !important;
}
