@import "../../styles.scss";

.background-container {
  background: rgba(0, 64, 226, 0.425) url(../../assets/library-image.png);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
