
.createAccount{
    position:relative;
    overflow: hidden;

}
.sectionBlue{
    max-width: 665px;
    height: auto;
    float:left;
    padding-bottom: 100%;
    margin-bottom: -100%;
    background-color: #61dafb;
    margin-left: 0px;
    padding-left: 0px;
}
.sectionWhite{
    width: 50vw;
    height: 100vh;
    position:absolute;
    text-align:center;
    left:665px;
    padding-bottom: 100%;
}
.sectionWhite h1{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 124px;
    color: #0B233F;
}
input[type="text"]{
    width: 477px;
    height: 56px;
    border: 1px solid #9C9C9C;
    border-radius: 6px;
    background: #F4F4F4;
    margin-bottom:10px;
}
label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
form{
    position: absolute;
    width: 477px;
    height: 413px;
    top: 306px;
    margin-left:149px;
    text-align:left;
}

button{
    position: absolute;
    width: 312px;
    height: 74px;
    background: #00B2E2;
    border-radius: 18px;
    margin-top:67px;
    margin-left:83px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;

    color: #FFFFFF;
    border:none;
}
