.select-major {
  .mainSection {
    //background-color: #61dafb;
    margin-top: 87px;
    position: relative;
  }
  .form {
    //background-color: lightpink;
    position: absolute;
    margin-top: 300px;
    text-align: center;
  }
  .steps-img {
    user-select: none;
  }
  .form-select {
    width: 1076px;
    height: 72px;
    margin-bottom: 39px;
    background: #f4f4f4;
    border: 1px solid #9c9c9c;
    border-radius: 6px;
  }
  .form-group {
    //background-color: aquamarine;
    text-align: left;
  }
  .form-label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 47px;
  }
  .form-select {
    font-size: 20px;
  }
}
