.select-major {
  .steps-img {
    user-select: none;
  }
  .form-group {
    background-color: rgba(177, 255, 255, 0.281);
    text-align: left;
    padding: 2em;
    margin: 1em;
    border-radius: 2em;
  }
}
